body{
    background: rgb(201, 211, 255);
    font: normal 15pt Arial;
    width: 100%;
}
header{
    text-align: center;
    color: rgb(33, 27, 59);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
section{    
    background-color: rgba(255, 255, 255, 0.25);
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}
footer{
    font-size: 10pt;
    text-align: center;
    font-style: italic;
    color: rgb(33, 27, 59);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.painel{
    margin-top: 10px;
    display: flex;
}

.resultado {
    margin-left: 10px;
    font-size: 10pt;
}

#lista_num{
    width: 150px;
}
